p{
    font-size: 0.8em;
}

.card{
    display: flex;
    margin-left: 35%;
}
.info-product{
    text-align: center;
}
.button-terminar{
    text-decoration: none;
    color: black;
    text-align: center;
    display: flex;
    flex-direction: column;
    border: solid 2px;
    border-color: black;
    padding: 10px;
    margin-left: 40%;
    margin-bottom: 5px;
    width: 300px;
}
.button-terminar:hover{
    color: black;
}